# Feature engineering

An agglomeration of several feature engineering notebooks used for the project.

In [176]:
import pandas as pd
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar
import datetime
import numpy as np

## 1. Merge with demographic data from Iowa census

In [177]:
df = pd.read_csv("/data401/Iowa_Liquor_Sales.csv", iterator=True)

In [179]:
names = [str(i) for i in range(195)]

In [180]:
names[1] = "county"
names[3] = "land_area" # in square meters
names[7] = "population"
names[8] = "under_5" # population under 5 years old
names[9] = "5_to_9"
names[10] = "10_to_14"
names[11] = "15_to_19"
names[12] = "20_to_24"
names[13] = "25_to_29"
names[14] = "30_to_34"
names[15] = "35_to_39"
names[16] = "40_to_44"
names[17] = "45_to_49"
names[18] = "50_to_54"
names[19] = "55_to_59"
names[20] = "60_to_64"
names[21] = "65_to_69"
names[22] = "70_to_74"
names[23] = "75_to_79"
names[24] = "80_to_84"
names[25] = "over_84"
names[64] = "median_age"
names[65] = "male_median_age"
names[66] = "female_median_age"
names[73] = "pop_over_21"
names[74] = "male_over_21"
names[75] = "female_over_21"
names[84] = "white" # races (not latinx) should add up to population
names[85] = "black"
names[86] = "american_indian"
names[87] = "asian"
names[95] = "hawaiian_pacific_islander"
names[101] = "other_race"
names[102] = "multiple_races"
names[114] = "latinx"
names[139] = "head_of_household" # population that is a head of their household
names[141] = "has_child" # population that has 1+ children under 18
names[173] = "average_HH_size" # average size of household
names[189] = "owned_housing" # number of housing units that are owned
names[190] = "rented_housing" # number of housing units that are rented

In [181]:
usecols=[]
for name in names:
    if len(name) > 3:
        usecols.append(name)

In [182]:
demo = pd.read_csv("census.csv", names=names, usecols=usecols, skiprows=1)
demo = demo[pd.notnull(demo['county'])]
demo["county"]=demo["county"].apply(lambda x: x[:-7].lower())
demo.to_csv('demographics.csv',encoding = "utf8")

In [189]:
aggdata = pd.read_csv("aggdata.csv")
merged = aggdata.merge(demo, how="left", on="county")

In [175]:
merged.to_csv('data/aggdata02.csv',encoding = "utf8")

## 2. Added DUI data

In [39]:
agg_iowa = pd.read_csv("data/aggdata02.csv", header=1,
                        names=['date','county','num_purchasers','volume_sold_l','total_retail', 'land_area', 'population', 'under_5', '5_to_9', '10_to_14',
                               '15_to_19', '20_to_24', '25_to_29', '30_to_34', '35_to_39', '40_to_44',
                               '45_to_49', '50_to_54', '55_to_59', '60_to_64', '65_to_69', '70_to_74',
                               '75_to_79', '80_to_84', 'over_84', 'median_age', 'male_median_age',
                               'female_median_age', 'pop_over_21', 'male_over_21', 'female_over_21',
                               'white', 'black', 'american_indian', 'asian',
                               'hawaiian_pacific_islander', 'other_race', 'multiple_races', 'latinx',
                               'head_of_household', 'has_child', 'average_HH_size', 'owned_housing',
                               'rented_housing'])
duis = pd.read_csv('data/dui.csv',header=0,
                  names=['date','county','num_alc_accidents'])

merged = agg_iowa.merge(duis, how='left')

In [41]:
zerod = merged[merged['date'] <= '2018-06-17'].copy()
averaged = merged[merged['date'] > '2018-06-17'].copy()

In [43]:
# fill NaN values with 0's for data that we have (up until 2018-06-17)
zerod['num_alc_accidents'] = zerod['num_alc_accidents'].fillna(0)
avg_duis = zerod.groupby('county')['num_alc_accidents'].mean().round()
averaged['num_alc_accidents'] = averaged.apply(lambda row: avg_duis[row['county']], axis=1)

In [45]:
merged_no_nan = pd.concat([zerod,averaged])

,date,county,num_purchasers,volume_sold_l,total_retail,land_area,population,under_5,5_to_9,10_to_14,...,hawaiian_pacific_islander,other_race,multiple_races,latinx,head_of_household,has_child,average_HH_size,owned_housing,rented_housing,num_alc_accidents
0,2012-01-08,adams,1,112.94,1491.20,1.096701e+09,4029.0,234.0,209.0,242.0,...,0.0,22.0,12.0,30.0,963.0,788.0,2.28,3099.0,816.0,0.0
1,2012-01-08,appanoose,5,966.80,11837.46,1.287981e+09,12887.0,811.0,805.0,767.0,...,1.0,135.0,52.0,106.0,2718.0,2603.0,2.27,9562.0,3199.0,0.0
2,2012-01-08,audubon,1,235.63,2909.50,1.147264e+09,6119.0,335.0,312.0,403.0,...,1.0,37.0,7.0,24.0,1483.0,1254.0,2.29,4906.0,1077.0,0.0
3,2012-01-08,benton,5,962.46,11928.85,1.855117e+09,26076.0,1645.0,1851.0,1882.0,...,2.0,239.0,69.0,190.0,6138.0,6225.0,2.50,21470.0,4293.0,0.0
4,2012-01-08,black hawk,14,5034.50,71661.42,1.465334e+09,131090.0,8458.0,7823.0,7550.0,...,201.0,2985.0,357.0,3585.0,23861.0,25738.0,2.38,88103.0,37020.0,0.0
5,2012-01-08,bremer,7,2013.07,25115.38,1.127880e+09,24276.0,1414.0,1460.0,1539.0,...,2.0,231.0,47.0,161.0,5612.0,5230.0,2.40,18631.0,3927.0,0.0
6,2012-01-08,buchanan,7,1230.10,15403.85,1.478935e+09,20958.0,1566.0,1588.0,1571.0,...,1.0,227.0,71.0,160.0,4685.0,5212.0,2.53,16842.0,3773.0,0.0
7,2012-01-08,buena vista,6,1346.53,17992.31,1.489023e+09,20260.0,1449.0,1345.0,1317.0,...,100.0,359.0,34.0,3778.0,4047.0,4468.0,2.56,13816.0,5430.0,0.0
8,2012-01-08,butler,3,319.30,3635.16,1.502533e+09,14867.0,982.0,950.0,988.0,...,2.0,111.0,34.0,94.0,3689.0,3279.0,2.39,12225.0,2400.0,0.0
9,2012-01-08,calhoun,1,200.50,2458.15,1.476209e+09,9670.0,550.0,583.0,551.0,...,1.0,60.0,14.0,66.0,2312.0,1942.0,2.22,7751.0,1681.0,0.0
10,2012-01-08,carroll,7,1910.96,24565.28,1.474835e+09,20816.0,1464.0,1355.0,1376.0,...,1.0,186.0,48.0,270.0,4669.0,4901.0,2.34,16009.0,4340.0,0.0
11,2012-01-08,cass,6,751.04,9906.77,1.461451e+09,13956.0,923.0,852.0,847.0,...,45.0,86.0,32.0,189.0,3159.0,2940.0,2.28,10171.0,3481.0,0.0
12,2012-01-08,cedar,4,449.24,5559.94,1.500731e+09,18499.0,1148.0,1259.0,1279.0,...,3.0,197.0,58.0,210.0,4324.0,4216.0,2.42,14752.0,3423.0,0.0
13,2012-01-08,cerro gordo,1,688.61,9352.73,1.471923e+09,44151.0,2543.0,2484.0,2754.0,...,9.0,716.0,129.0,1391.0,9204.0,8743.0,2.22,32154.0,10839.0,0.0
14,2012-01-08,clarke,2,149.80,1797.12,1.116716e+09,9286.0,689.0,640.0,629.0,...,4.0,89.0,30.0,755.0,1978.0,2115.0,2.47,6734.0,2400.0,0.0
15,2012-01-08,clay,4,1417.51,17228.07,1.469139e+09,16667.0,1078.0,1042.0,1047.0,...,1.0,187.0,38.0,337.0,3722.0,3612.0,2.26,12140.0,4293.0,0.0
16,2012-01-08,clayton,2,185.50,2221.58,2.016406e+09,18129.0,1122.0,1130.0,1175.0,...,17.0,148.0,28.0,233.0,4205.0,3947.0,2.35,14178.0,3664.0,0.0
17,2012-01-08,clinton,9,5031.60,63918.77,1.799821e+09,49116.0,3095.0,3142.0,3305.0,...,12.0,899.0,193.0,968.0,10102.0,10496.0,2.39,36433.0,11831.0,0.0
18,2012-01-08,crawford,5,1001.94,13731.33,1.849743e+09,17096.0,1269.0,1212.0,1247.0,...,16.0,279.0,28.0,2951.0,3474.0,4001.0,2.57,12282.0,4229.0,0.0
19,2012-01-08,dallas,5,1956.85,39574.30,1.524071e+09,66135.0,5772.0,5686.0,5239.0,...,39.0,1009.0,153.0,2494.0,14631.0,18282.0,2.60,53400.0,12219.0,1.0
20,2012-01-08,davis,1,144.75,1432.74,1.300662e+09,8753.0,746.0,678.0,724.0,...,0.0,68.0,33.0,64.0,1980.0,2409.0,2.70,7210.0,1419.0,0.0
21,2012-01-08,decatur,1,61.24,738.92,1.377566e+09,8457.0,532.0,510.0,522.0,...,16.0,88.0,38.0,91.0,1664.0,1768.0,2.42,5788.0,2006.0,0.0
22,2012-01-08,delaware,1,68.25,682.53,1.496381e+09,17764.0,1140.0,1206.0,1260.0,...,2.0,115.0,25.0,118.0,4240.0,4247.0,2.48,14473.0,3073.0,0.0
23,2012-01-08,des moines,9,2646.55,34085.22,1.077755e+09,40325.0,2638.0,2556.0,2570.0,...,21.0,931.0,163.0,815.0,8063.0,8355.0,2.33,29817.0,9823.0,0.0
24,2012-01-08,dickinson,10,3829.64,52094.38,9.857644e+08,16667.0,817.0,929.0,914.0,...,5.0,125.0,41.0,133.0,4125.0,3045.0,2.18,13284.0,3172.0,0.0
25,2012-01-08,dubuque,21,10028.64,137271.80,1.575502e+09,93653.0,5955.0,6195.0,6299.0,...,288.0,1217.0,226.0,1176.0,19212.0,20845.0,2.43,69580.0,19805.0,0.0
26,2012-01-08,emmet,3,812.50,9767.66,1.025333e+09,10302.0,660.0,642.0,602.0,...,1.0,158.0,28.0,589.0,2130.0,2099.0,2.30,7614.0,2148.0,0.0
27,2012-01-08,fayette,1,241.50,3344.07,1.892791e+09,20880.0,1263.0,1180.0,1347.0,...,15.0,193.0,50.0,283.0,4569.0,4363.0,2.33,15464.0,4634.0,0.0
28,2012-01-08,franklin,4,795.76,10185.12,1.507301e+09,10680.0,672.0,716.0,690.0,...,4.0,169.0,35.0,1126.0,2459.0,2354.0,2.42,8062.0,2420.0,0.0
29,2012-01-08,grundy,3,279.34,3703.71,1.299806e+09,12453.0,786.0,791.0,819.0,...,7.0,87.0,24.0,90.0,3089.0,2812.0,2.40,10430.0,1869.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19956,2019-10-06,montgomery,3,930.35,12120.26,1.098406e+09,10740.0,595.0,667.0,768.0,...,5.0,99.0,39.0,270.0,2291.0,2307.0,2.31,7760.0,2767.0,0.0
19957,2019-10-06,muscatine,20,11509.62,228041.84,1.133040e+09,42745.0,3069.0,3076.0,3116.0,...,13.0,813.0,136.0,5734.0,8789.0,9922.0,2.57,32333.0,9859.0,1.0
19958,2019-10-06,obrien,8,1861.73,23983.58,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
19959,2019-10-06,osceola,2,358.86,4625.88,1.032587e+09,6462.0,401.0,405.0,409.0,...,5.0,50.0,15.0,364.0,1520.0,1395.0,2.37,5108.0,1242.0,0.0
19960,2019-10-06,page,4,1189.45,19092.43,1.385494e+09,15932.0,919.0,832.0,980.0,...,6.0,219.0,61.0,353.0,3268.0,3000.0,2.26,10779.0,3685.0,0.0
19961,2019-10-06,palo alto,4,760.25,9836.84,1.460349e+09,9421.0,586.0,598.0,535.0,...,6.0,79.0,28.0,117.0,2073.0,1953.0,2.27,7046.0,2031.0,0.0
19962,2019-10-06,plymouth,6,2160.34,28007.47,2.234882e+09,24986.0,1652.0,1734.0,1888.0,...,16.0,250.0,59.0,566.0,5893.0,6138.0,2.49,19930.0,4707.0,0.0
19963,2019-10-06,pocahontas,2,474.11,5909.39,1.495047e+09,7310.0,431.0,410.0,420.0,...,10.0,79.0,12.0,130.0,1730.0,1442.0,2.22,5842.0,1327.0,0.0
19964,2019-10-06,polk,174,143193.23,2755638.02,1.486121e+09,430640.0,32816.0,30863.0,29445.0,...,254.0,10405.0,1253.0,25143.0,82125.0,100707.0,2.48,307321.0,113963.0,12.0
19965,2019-10-06,pottawatta,35,15266.62,274838.64,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
19966,2019-10-06,poweshiek,11,2407.29,37013.81,1.514968e+09,18914.0,1007.0,1099.0,1118.0,...,21.0,259.0,44.0,308.0,3939.0,3685.0,2.29,12912.0,4375.0,0.0
19967,2019-10-06,sac,6,1919.95,24741.35,1.489273e+09,10350.0,596.0,632.0,685.0,...,5.0,87.0,32.0,159.0,2437.0,2199.0,2.26,8242.0,1885.0,0.0
19968,2019-10-06,scott,62,50180.95,830991.03,1.186444e+09,165224.0,11253.0,11403.0,11127.0,...,68.0,4905.0,716.0,7763.0,32255.0,36448.0,2.42,118542.0,43348.0,5.0
19969,2019-10-06,shelby,3,1485.12,20290.94,1.530110e+09,12167.0,684.0,781.0,855.0,...,2.0,82.0,39.0,157.0,2846.0,2687.0,2.35,9515.0,2432.0,0.0
19970,2019-10-06,sioux,11,5625.16,100491.55,1.989970e+09,33704.0,2639.0,2555.0,2385.0,...,4.0,314.0,37.0,2600.0,7781.0,8624.0,2.70,26029.0,5265.0,1.0
19971,2019-10-06,story,24,15115.42,212373.11,1.483593e+09,89542.0,4803.0,4462.0,4197.0,...,20.0,1518.0,233.0,1665.0,15291.0,15097.0,2.34,48018.0,33350.0,2.0
19972,2019-10-06,tama,4,790.58,10390.46,1.867411e+09,17767.0,1111.0,1215.0,1328.0,...,4.0,451.0,215.0,1225.0,3926.0,3999.0,2.50,13781.0,3587.0,0.0
19973,2019-10-06,taylor,1,89.70,1220.23,1.377619e+09,6317.0,374.0,411.0,426.0,...,3.0,59.0,20.0,333.0,1463.0,1344.0,2.32,4902.0,1319.0,0.0
19974,2019-10-06,union,4,1284.95,20385.17,1.097236e+09,12534.0,829.0,813.0,826.0,...,3.0,125.0,41.0,166.0,2593.0,2665.0,2.31,9085.0,3097.0,0.0
19975,2019-10-06,van buren,2,266.85,4052.68,1.255598e+09,7570.0,492.0,510.0,476.0,...,1.0,53.0,18.0,55.0,1721.0,1691.0,2.40,6228.0,1245.0,0.0
19976,2019-10-06,wapello,8,3388.61,51109.65,1.118443e+09,35625.0,2361.0,2238.0,2131.0,...,48.0,551.0,128.0,2395.0,6963.0,7057.0,2.39,26188.0,8570.0,1.0
19977,2019-10-06,warren,16,6156.87,116087.94,1.475845e+09,46225.0,2974.0,3307.0,3655.0,...,11.0,562.0,120.0,653.0,10422.0,11298.0,2.58,36840.0,7643.0,1.0
19978,2019-10-06,washington,9,2293.20,35106.58,1.473276e+09,21704.0,1386.0,1518.0,1585.0,...,13.0,318.0,72.0,968.0,4853.0,5113.0,2.45,16723.0,4671.0,0.0
19979,2019-10-06,wayne,2,270.00,3954.72,1.360875e+09,6403.0,399.0,435.0,391.0,...,1.0,48.0,18.0,40.0,1431.0,1391.0,2.38,5092.0,1220.0,0.0
19980,2019-10-06,webster,14,4293.73,68179.50,1.853444e+09,38013.0,2248.0,2267.0,2359.0,...,9.0,681.0,104.0,1159.0,7196.0,7597.0,2.27,26352.0,9034.0,1.0
19981,2019-10-06,winnebago,5,946.75,13239.71,1.037262e+09,10866.0,594.0,648.0,677.0,...,1.0,111.0,13.0,266.0,2368.0,2224.0,2.26,8075.0,2303.0,0.0
19982,2019-10-06,winneshiek,5,1723.59,24020.93,1.786750e+09,21056.0,1081.0,1164.0,1226.0,...,4.0,160.0,31.0,283.0,4470.0,4091.0,2.35,15003.0,3765.0,1.0
19983,2019-10-06,woodbury,33,16289.00,264464.29,2.260630e+09,102172.0,7927.0,7482.0,7281.0,...,106.0,3306.0,641.0,10874.0,18540.0,24317.0,2.55,69594.0,29942.0,4.0
19984,2019-10-06,worth,3,928.46,12896.51,1.036315e+09,7598.0,414.0,419.0,554.0,...,0.0,67.0,26.0,135.0,1775.0,1649.0,2.37,6172.0,1336.0,0.0
19985,2019-10-06,wright,6,869.12,11012.10,1.503287e+09,13229.0,854.0,840.0,848.0,...,6.0,209.0,52.0,1072.0,2923.0,2864.0,2.32,9744.0,3287.0,0.0

In [46]:
merged_no_nan.to_csv('data/aggdata03.csv', encoding = "utf8")

## 3. Computed variables per capita

In [8]:
data = pd.read_csv("data/aggdata03.csv", header=0,
                  names=['date','county','num_purchasers','volume_sold_l','total_retail', 'land_area', 'population', 'under_5', '5_to_9', '10_to_14',
                       '15_to_19', '20_to_24', '25_to_29', '30_to_34', '35_to_39', '40_to_44',
                       '45_to_49', '50_to_54', '55_to_59', '60_to_64', '65_to_69', '70_to_74',
                       '75_to_79', '80_to_84', 'over_84', 'median_age', 'male_median_age',
                       'female_median_age', 'pop_over_21', 'male_over_21', 'female_over_21',
                       'white', 'black', 'american_indian', 'asian',
                       'hawaiian_pacific_islander', 'other_race', 'multiple_races', 'latinx',
                       'head_of_household', 'has_child', 'average_HH_size', 'owned_housing',
                       'rented_housing', 'num_alc_accidents'])

,date,county,num_purchasers,volume_sold_l,total_retail,land_area,population,under_5,5_to_9,10_to_14,...,hawaiian_pacific_islander,other_race,multiple_races,latinx,head_of_household,has_child,average_HH_size,owned_housing,rented_housing,num_alc_accidents
0,2012-01-08,adams,1,112.94,1491.20,1.096701e+09,4029.0,234.0,209.0,242.0,...,0.0,22.0,12.0,30.0,963.0,788.0,2.28,3099.0,816.0,0.0
1,2012-01-08,appanoose,5,966.80,11837.46,1.287981e+09,12887.0,811.0,805.0,767.0,...,1.0,135.0,52.0,106.0,2718.0,2603.0,2.27,9562.0,3199.0,0.0
2,2012-01-08,audubon,1,235.63,2909.50,1.147264e+09,6119.0,335.0,312.0,403.0,...,1.0,37.0,7.0,24.0,1483.0,1254.0,2.29,4906.0,1077.0,0.0
3,2012-01-08,benton,5,962.46,11928.85,1.855117e+09,26076.0,1645.0,1851.0,1882.0,...,2.0,239.0,69.0,190.0,6138.0,6225.0,2.50,21470.0,4293.0,0.0
4,2012-01-08,black hawk,14,5034.50,71661.42,1.465334e+09,131090.0,8458.0,7823.0,7550.0,...,201.0,2985.0,357.0,3585.0,23861.0,25738.0,2.38,88103.0,37020.0,0.0

In [11]:
data['pop_density'] = data['population']/data['land_area']
data['volume_per_cap'] = data['volume_sold_l']/data['population']

In [12]:
data.to_csv("data/aggdata04.csv")

## 4. Feature engineering with demographic variables

In [53]:
df = pd.read_csv("data/aggdata04.csv")
df.drop([df.columns[0], "female_over_21"], axis=1, inplace=True)

In [55]:
df["over_65"] = df["65_to_69"] + df["70_to_74"] + df["75_to_79"] + df["80_to_84"] + df["over_84"]

In [56]:
df.drop(["65_to_69","70_to_74","75_to_79","80_to_84",'60_to_64',"over_84",'5_to_9', '10_to_14','30_to_34', '35_to_39', '40_to_44', '45_to_49',
       '50_to_54', '55_to_59','black', 'american_indian', 'latinx',
       'asian', 'hawaiian_pacific_islander','other_race','multiple_races'], axis=1, inplace=True)

In [58]:
def make_prop(df, colname):
    newname = colname + "_prop"
    df[newname] = df[colname] / df["population"]
    df.drop(colname, axis=1, inplace=True)

In [59]:
prop_cols = ['under_5', '15_to_19', '20_to_24', '25_to_29','over_65','pop_over_21', 'male_over_21',
             'white','head_of_household', 'has_child']
for col in prop_cols:
    make_prop(df, col)

In [63]:
df.to_csv('data/aggdata05.csv',encoding = "utf8")

## 5. Added holiday data

In [31]:
df = pd.read_csv("data/aggdata05.csv", header=0,
                names = ['date', 'county', 'num_purchasers', 'volume_sold_l', 'total_retail',
                       'land_area', 'population', 'median_age', 'male_median_age',
                       'female_median_age', 'average_HH_size', 'owned_housing',
                       'rented_housing', 'num_alc_accidents', 'pop_density', 'volume_per_cap',
                       'under_5_prop', '15_to_19_prop', '20_to_24_prop', '25_to_29_prop',
                       'over_65_prop', 'pop_over_21_prop', 'male_over_21_prop', 'white_prop',
                       'head_of_household_prop', 'has_child_prop'])
cal = calendar()
holidays = cal.holidays(start=min(df['date']), end=max(df['date']))
df["date"] = pd.to_datetime(df["date"])

In [24]:
def isHoliday(row, holidays):
    span = datetime.timedelta(weeks=2)
    for date in holidays:
        if row['date'] <= date and row['date'] + span >= date:
            return 1
    return 0

In [32]:
df['isHoliday'] = df.apply(isHoliday, args=(holidays,), axis=1)

In [42]:
df.to_csv("data/aggdata06.csv",encoding = "utf8")

## 6. Conversion to numeric and adding season

In [2]:
# Read the data

df = pd.read_csv("data/aggdata06.csv")

df.dropna(inplace=True)
df.drop(['Unnamed: 0'], axis=1, inplace=True)

def convert_date(row, start_date):
    return ((row - start_date) / 7).days

In [3]:
df2 = pd.read_csv('data/aggdata07.csv', header =0,
                 names = ['num_purchasers', 'volume_sold_l', 'total_retail', 'vodka_bottles',
       'tequila_bottles', 'whiskey_bottles', 'rum_bottles', 'gin_bottles',
       'other_bottles', 'avg_bottle_price', 'avg_vendor_size',
       'avg_vendor_vol']).reset_index().drop(['num_purchasers','volume_sold_l','total_retail'], axis=1)
df3 = df.merge(df2, left_on=['date','county'], right_on=['level_0','level_1']).drop(['level_1','level_0'], axis=1).sort_values(by='date')
#df3.to_csv('data/aggdata08.csv', encoding='utf8')

In [4]:
df3['date'] = pd.to_datetime(df3["date"])
start_date = df3['date'].min()
df3['num_weeks'] = df3['date'].apply(convert_date, args=(start_date,))

In [11]:
df2[df2['volume_per_cap'] >= 0.678961]

           volume_per_cap
county
dickinson        0.678961

In [83]:
df2.describe()

,vodka_bottles,tequila_bottles,whiskey_bottles,rum_bottles,gin_bottles,other_bottles,avg_bottle_price,avg_vendor_size,avg_vendor_vol
count,17430.000000,17430.000000,17430.000000,17430.000000,17430.000000,17430.000000,17430.000000,17430.000000,17430.000000
mean,2480.473379,353.060700,2414.054733,1027.061159,265.090993,1807.153815,1.953057,375.586554,0.001350
std,7138.876310,1159.734456,5636.543765,2432.258640,826.669717,4849.067156,0.682012,226.908278,0.020747
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.277189,0.000000,0.000000
25%,319.250000,25.000000,455.000000,170.000000,18.000000,220.000000,1.506227,205.500000,0.000000
50%,641.000000,67.000000,905.500000,337.500000,46.000000,507.000000,1.833553,326.366667,0.000000
75%,1396.000000,172.000000,1858.750000,742.750000,121.000000,1034.000000,2.225082,493.794444,0.000000
max,85900.000000,19571.000000,70268.000000,33849.000000,10734.000000,65038.000000,9.188235,2339.400000,1.000000

In [7]:
df2 = df[['volume_per_cap','county']].groupby('county').mean()
df2[df2['volume_per_cap'] < 0.05]
quartile1 = list(df2[df2['volume_per_cap'] <= 0.117975].index)
quartile2 = list(df2[df2['volume_per_cap'] <= 0.179457].index)
quartile3 = list(df2[df2['volume_per_cap'] <= 0.222417].index)
quartile4 = list(df2[df2['volume_per_cap'] < 0.678961].index)

In [85]:
def cat_county(x):
    if x in quartile1:
        return 'quartile1'
    if x in quartile2:
        return 'quartile2'
    if x in quartile3:
        return 'quartile3'
    if x in quartile4:
        return 'quartile4'
    return 'max'

In [86]:
df3['county_bin'] = df3['county'].apply(cat_county)

In [87]:
def seasons(x):
    if x.month in [12,1,2]:
        return 'Winter'
    if x.month in [3,4,5]:
        return 'Spring'
    if x.month in [6,7,8]:
        return 'Summer'
    return 'Fall'

In [88]:
df3['Seasons'] = df3['date'].apply(seasons)

In [89]:
df3.drop(['date','county'],axis=1, inplace=True)
df3 = pd.get_dummies(df3, drop_first=True)

In [90]:
df3.to_csv("data/aggdata08.csv", encoding='utf8')